{% ckan_extends %}

{%block header_account %}
{{ super() }}
<div class="conatiner-fluid" style="background-color:white; height:150px; line-height: 150px; vertical-align: middle; "> <!-- background-color: #12844A; -->
  <div id="rer_bar" role="banner" class="container no-padding">
    <div class="row">
      <div class="span3"><a class="logo navbar-btn pull-left" href="/" title="Home"><img src="http://dati.emilia-romagna.it/sites/default/files/datiERit2.png" style="height:100px" alt="Home" /></a></div>
      <!--<div class="span6 centered-title"><a class="name " href="/" title="Home">dati.emilia-romagna.it</a></div>-->
      <div class="span6 centered-title"> </div>
      <div class="span3"><a class="pull-right" style="margin-top:7px;" href=""><img src="http://digitale.regione.emilia-romagna.it/rer.gif" alt="Regione Emilia-Romagna"></a></div>
    </div>
  </div>
</div>
{%endblock header_account %}

{% block header_logo%}
&nbsp;
{% endblock header_logo%}

{% block header_site_search%}
&nbsp;
{% endblock header_site_search%}

{% block header_site_navigation_tabs %}

<style>.collapse{display:block;}</style>

  {{ h.build_nav_main(
    ('search', _('Dati')),
    ('organizations_index', _('Organizzazioni')),
    ('group_index', _('Gruppi')),
  ) }}
{% endblock %}
